enum34==1.1.6
glob2==0.4.1
Mako==1.0.4
MarkupSafe==0.23
parse==1.6.6
parse-type==0.3.4
py==1.4.31
pytest==2.9.2
pytest-base-url==1.1.0
pytest-bdd==2.17.0
pytest-html==1.10.0
pytest-selenium==1.3.1
pytest-variables==1.4
requests==2.11.0
selenium==3.0.0b2
six==1.10.0
